<h1>Make your payment</h1>
<% if @order.present? && @order.hair.present? %>
  <%= link_to "Proceed to Checkout", checkout_hair_order_path(@order.hair, @order), class: "btn btn-primary" %>
<% else %>
  <p>No pending orders found.</p>
<% end %>

