<div class="conainter mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mb-3">
        <%= simple_form_for [@hair, @review] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Submit review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
